/* Main */

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background: url("../images/new_background.jpg") no-repeat;
    background-size: 100%;
}


h1 {
    flex: 1 0 0;
    margin: 0;
    font-size: 4em;
    padding-top: 50px;
    color: #FF7700;
}

/* Form */

form {
    font-size: 1.5em;
    color: #843D15;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

#form-input {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
    margin: 50px 0;
}

.input-line {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 20px 0;
}

.input-line > * {
    flex: 1 0 0;
}

.input-line input {
    font-size: 1em;
    flex: 2 0 0;
    height: 35px;
    background: #D9D9D9;
    border: none;
}

.input-line input:focus {
    outline: none !important;
    border: 2px solid #E79853;
}

/* Form Left */
#form-left {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 45%
}

#star-container {
    flex: 2 0 0;
}

span {
    color: #D9D9D9;
    cursor: pointer;
}

.checked {
    color: #FF7700;
}

#img-container {
    width: 100%;
    height: 300px;
    padding: 0;
    color: #8A7061;
    font-size: 1.5em;
    text-align: center;
    background: rgba(232, 225, 204, 0.5);
    border: 3px solid #8A7061;
}

#img-container label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


#img-container input, #display-image {
    display: none;
}

.image-show {
    width: 100%;
    height: 100%;
}


/* Form Right */
#form-right {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 45%
}

#diff-container {
    display: flex;
    flex-flow: row wrap;
}

#input-container {
    display: flex;
    flex-flow: row;
    gap: 20px;
    flex: 2 0 0;
    justify-content: flex-start;

}

#input-ing {
    width: 70%;
}

#button-add {
    width: 20%;
}

.button {
    font-size: 1em;
    color: #FCFCFC;
    background: #E79853;
    border-radius: 25px;
    border-color: transparent;
    cursor: pointer;
}

#ingredients-line-1 {
    padding-bottom: 0;
}

#ingredients-line-2 {
    align-items: flex-start;
    min-height: 60px;
    padding: 0;
}
#ingredients-container {
    flex: 2 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 10px;
    gap: 5px;
}

.ingredient {
    text-align: center;
    min-width: 100px;
    font-size: 0.75em;
    margin: 0;
    padding: 5px;
    color: #E79853;
    border: 2px solid #E79853;
    border-radius: 25px;
    cursor: pointer;
}

.ingredient:hover {
    color: white;
    border: 2px solid white;
    background: #E79853;
}

#errorText {
    color: red;
    font-size: 1em;
    display: none;
    margin: 0;
}

/* Meal Summary */
#all-meals{
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    width: 80%;
    gap: 40px;
    margin: 50px 0 250px 0;
}

.meal-summary {
    display: flex;
    flex-flow: row wrap;
    height: 300px;
    width: 100%;
    gap: 30px;
}

.meal-image {
    flex: 2 0 0;
}

.meal-image img{
    width: 100%;
    height: 300px;
}

.summary {
    flex: 3 0 0;
    border: 5px double #8A7061;
    background: rgba(232, 225, 204, 0.5);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.summary h3 {
    font-size: 1.75em;
    color: #D86C2F;
    margin-bottom: 10px;
}

.details {
    display: flex;
    flex-flow: column nowrap;

}

.details > div{
    font-size: 1.25em;
    font-family: 'Roboto', serif;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 50px;
}

.details > div > * {
    margin: 10px 0;
}


.details-text {
    width: 100px;
    color: #843D15;
}

button {
    width: 50%;
    margin-top: 5px;
    font-size: 1.5em;
    color: #FCFCFC;
    background: #E79853;
    border-radius: 25px;
    border-color: #E79853;
    cursor: pointer;
}