<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MealPicker - Pick your dinner now!</title>
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
        <script src="https://kit.fontawesome.com/7293c2225e.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="./scripts/script.js"></script>
    </head>
    <body>
        <header id="header">  
            <!-- Site Logo -->  
            <a href="#" class="header-item" id="header-logo-container">
                <h3>MealPicker</h3>
            </a>
            <!-- Main Navigation-->
            <nav class="header-item" id="main-navigation">
                <ul class="menu">
                    <li><a href="#">Pick</a></li>
                    <li><a href="#">New</a></li>
                    <li><a href="#">Meals</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div id="picker-container">
                <div id="image-container" name="1">
                    <img id="meal-image" src="./images/meals/meal_1001.webp" alt="An Image of Pasta Carbonara">
                    <p>Pasta Carbonara</p>
                </div>
                <div id="button-container">
                    <button id="pick-button">Pick!</button>
                    <i class="fas fa-filter"></i>
                </div>
            </div>
        </main>
        <footer>
            <p>Disclaimer: All recipes and images belong to www.simplyrecipes.com</p>
        </footer>
    </body>
</html>